/* Variables */
:root {
    --text-primary-font: Roboto, 'Open Sans', Montserrat, Nunito;
    --text-title-font: Georgia, 'Times New Roman', Times, serif;
    --main-bg-color: #264653;
    --bg-modal: #fefae0;
    --bg-contact: #F4A261;
    --text-primary-color: #f2f2f2;
    --bg-color-1: #E76F51;
    --bg-color-2: #2A9D8F;
    --bg-color-3: #E9C46A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-primary-color);
    font-family: var(--text-primary-font);
    font-size: 18px;
    position: relative;
}

header {
    position: sticky;
    top: 0;
}

h1 {
    font-family: var(--text-title-font);
    text-align: center;
    padding: 20px;
    font-size: 1.8rem;
    background-color: var(--bg-color-1);
}

/* Estilo de navbar */
.menu {
    display: flex;
    justify-content: space-evenly;
}

.menu li {
    padding: 20px;
    list-style: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.menu__add {
    background-color: var(--bg-color-2);
}

.menu__filter {
    background-color: var(--bg-color-3);
    position: relative;
}

.menu__filter__dropdown {
    display: none; /* Ocultar el menú por defecto */
    position: absolute;
    right: 0;
    top: calc(40px + 1rem); /* 20px de padding top y 20 de padding bottom + el tamaño de la letra */
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10; /* Asegura que el menú esté sobre otros elementos */
    list-style-type: none;
    margin-top: 5px;
    width: 100%;
    background-color: var(--bg-color-1);
}

.menu__filter__dropdown li {
    padding: 8px 16px;
    border-top: 1px solid #f2f2f25e;
}

.menu__filter__dropdown li:last-child {
    background-color: var(--bg-color-2);
}

.menu__filter__dropdown li:hover {
    background-color: var(--bg-contact);
}

/* Buscador de contactos */
.finder {
    display: flex;
}

#contentFinder {
    width: 100%;
    font-size: 1rem;
}

.finder button {
    background-color: var(--bg-color-1);
    color: var(--text-primary-color);
    width: 50px;
    height: 30px;
}

input {
    padding-left: 3px;
}

/* Etiqueta que muestra un mensaje al crear, actualiza o eliminar un contacto */
.message-label p {
    margin: auto;
    /* width: 80%; */
    text-align: center;
    background-color: var(--bg-modal);
    color: var(--main-bg-color);
    border-left: 10px solid var(--bg-color-3);
    font-size: 0.9rem;
    border-radius: 5px;
}

/* Cuadro pop-up */
.modal {
    position: absolute;
    top: 30vh;
    left: calc(50vw - 240px/2);
    width: 240px;
    padding: 5px 5px 10px 10px;
    background-color: var(--bg-modal);
    border: 1px solid var(--main-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 20px 10px var(--main-bg-color);
}

/* Ventana detrás del modal */
.modal::backdrop {
    backdrop-filter: blur(3px);
}

.modal__close {
    display: flex;
    justify-content: flex-end;
}

.fa-rectangle-xmark {
    font-size: 1.8rem;
    color: var(--main-bg-color);
}

/* Form del modal */
form {
    display: flex;
    font-size: 0.9rem;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

form label {
    font-weight: bold;
}

form input {
    border: none;
    border-bottom: 2px solid var(--main-bg-color);
    background-color: var(--bg-modal);
}

.group-contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding-left: 10%;
}

form button {
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 0 10px 0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    color: var(--text-primary-color);
    cursor: pointer;
}

/* Lista de contactos */
.contact-list {
    margin: 50px 10%;
}

.contact {
    display: flex;
    list-style: none;
    margin: 20px 0;
    background-color: var(--bg-contact);
    border-radius: 20px;
    padding: 10px;
    min-height: 60px;
    align-items: center;
}

.contact:hover {
    background-color: var(--bg-color-1);
}

.contact__avatar {
    font-size: 1.5rem;
    margin: auto;
}

.contact__info {
    display: flex;
    width: 70%;
}

details {
    width: 100%;
}

summary {
    cursor: pointer;
    font-weight: bold;
}

.contact__item-tag {
    font-size: 0.8rem;
    color: var(--main-bg-color);
}

.contact__info-item {
    font-weight: bold;
}

details div {
    margin: 5px 0;
}

.contact__info__buttons {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    color: var(--main-bg-color);
    gap: 10px;
}

.fa-square-pen, .fa-trash {
    cursor: pointer;
}